*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  /* --w : 128px;
  --h :  64px; */
  --w : 100vw;
  --h :  100vh;
  --index : calc(1vh + 1vw);
}
@font-face {
  font-family: k;
  src: url(kamerik205-heavy.woff2);
}
body{
  background-color: #070707;
  overflow: hidden;
  font-family: k;
}
.parent{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main_container{
    width: var(--w);
   height: var(--h);
  overflow: scroll;
}
.father_overflow{
   width: 2048px;
  height: 1024px;
   background-color: aquamarine;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main_container__items{
  height: 16px;
  width: 16px;
  background-color: rgb(255, 255, 255);
  padding: 1px;
  
}
.item__element{
  width: 99.5%;
  height: 99.5%;
  border: 0.5px solid black;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.1s linear;

}
.change{
  border: 0.5px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: all 0.1s linear;
}

.close_button{
  color: aliceblue;
  position: absolute;
  width: calc(var(--index) * 4.5 );
  height: calc(var(--index) * 4.5);
  border: .6px white solid;
  border-radius: 100px;
  bottom: 5vh;
  right: 10vw;
  font-size: calc(var(--index));
  background-color: rgba(44, 228, 84, 0.121);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}
.close_button p {
  margin-top: calc(var(--index)*1.5);
  padding-inline: calc(var(--index) * 0.42);
}
.close_button:hover{
  transform: scale(2.2);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: rgba(255, 0, 0, 0.174);
}

@media(max-width : 1841px){
  .close_button{
    transform: scale(2);
  }
}